<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Medium|Only place to read</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="nav">
      <a class="nav-logo" href="/">M</a>
      <div class="nav-text">
        <a class="nav-item" href="/pricing">Pricing</a>
        <%if (username ==="undefined"){%>
        <a class="nav-item" href="/signin">Sign In</a>
        <button class="nav-btn">Get started</button>
        <%}else{%>
        <p><%=username%></p>
        <%}%>
      </div>
    </div>

    <!-- <div class="container"></div> -->
  </body>
</html>
