<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Medium|Only place to read</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/styles.css" />
    <div class="nav">
      <a class="nav-logo" href="/">M</a>
      <div class="nav-text">
        <a class="nav-item" href="/pricing">Pricing</a>
        <a class="nav-item">Sign In</a>
        <button class="nav-btn" href="#">Get started</button>
      </div>
    </div>

    <body>
      <div class="container"></div>
    </body>
  </head>
</html>
