<div class="section-hero">
  <div class="hero">
    <div class="hero-text">
      <p class="heading-secondary">Stay curious.</p>
      <p class="heading-tertiary">
        Discover stories, thinking, and expertise from writers on any topic.
      </p>
      <button class="nav-btn">Start Reading</button>
    </div>
    <div>
      <p class="hero-img">M</p>
    </div>
  </div>
</div>
