<%- include("partials/header-login"); -%>
<!--  -->
<section class="section-compose" id="cta">
  <div class="container">
    <h2 class="compose-title">Compose</h2>
    <div class="compose">
      <div class="compose-text-box">
        <form class="compose-form" action="/compose" method="post">
          <!-- Using for we are linking the input and the label -->
          <div>
            <label for="full-name">Title</label>
            <input class="form-control" type="text" name="postTitle" required />
          </div>
          <div>
            <br />
            <label for="email">Post</label>
            <textarea
              class="form-control"
              name="postBody"
              rows="10"
              cols="120"
              required
            ></textarea>
          </div>

          <button class="nav-btn" type="submit">Publish</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
