<%- include("partials/header"); -%>
<h1>Compose</h1>
<!-- <form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" />
    <label>Post</label>
    <textarea
      class="form-control"
      name="postBody"
      rows="5"
      cols="30"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form> -->

<!--  -->
<section class="section-cta" id="cta">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <form class="cta-form" action="/compose" method="post">
          <!-- Using for we are linking the input and the label -->
          <div>
            <label for="full-name">Title</label>
            <input class="form-control" type="text" name="postTitle" required />
          </div>
          <div>
            <br />
            <label for="email">Post</label>
            <textarea
              class="form-control"
              name="postBody"
              rows="10"
              cols="120"
              required
            ></textarea>
          </div>

          <button class="btn btn--form">Publish</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
