<%- include('partials/header') -%>

<section class="section-signin container" id="cta">
  <div class="container">
    <h2 class="compose-title">Login</h2>
    <div class="compose">
      <div class="compose-text-box">
        <form class="compose-form" action="/login" method="POST">
          <!-- Using for we are linking the input and the label -->
          <div>
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>

          <button class="nav-btn">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
